<html>
<head>

<meta charset="UTF-8">

  <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.15.0/ui/trumbowyg.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.15.0/trumbowyg.min.js"></script><!-- Init Trumbowyg -->
  
  <style type="text/css">
	.trumbowyg-box, .trumbowyg-editor { min-height: 150px; } 
  </style>
</head>


